<!DOCTYPE html>
<html>
<head>
  <title>LaTeR - Long Term Reminder</title>
  <meta name="Description" content="Create powerful reminders and don't forget to do important stuff that you don't have money/time/will to do now">
  <meta name="Keywords" content="Long Term Reminder LaTeR Memo Email Send">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto:400" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
